@using TH_Lab04.Models
@model IEnumerable<Learner>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <h3>Majors</h3>
        @await Component.InvokeAsync("Major")
    </div>

    <div class="col-md-9">
        <h1>Learner List</h1>
        <a asp-action="Create" class="btn btn-primary mb-3">Create New Learner</a>
        <div id="content">
            @await Html.PartialAsync("LearnerTable", Model)
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $("li.list-group-item-action").click(function (e) {
                var id = $(this).attr("id");
                if (id && !isNaN(id)) {
                    $.ajax({
                        url: "/Learner/LearnerByMajorID",
                        type: "GET", 
                        data: { mid: id }, 
                        success: function (response) {
                            $("#content").html(response); 
                        },
                        error: function(xhr, status, error) {
                            console.error("AJAX Error: ", status, error);
                        }
                    });
                }
            });
        });
    </script>
}